<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item one-third medium-down--one-whole account_details_left">
        <h3>My Account</h3>
        <ul>
          <li><a href="/account">Account Dashboard</a></li>
          <li><strong><a href="/pages/password-reset">Password Reset</a></strong></li>
          <li><a href="/account/addresses">Address Book</a></li>
          <li><a href="/pages/orders">My Orders</a></li>
          <li><a href="/account/logout">Log Out</a></li>
        </ul>

      </div>
      
      <div class="grid__item large--four-fifths push--large--one-tenth account_data_right">
        <div class="rte rte--nomargin rte--indented-images">
          <div id="RecoverPasswordForm">

            <h2>{{ 'customer.recover_password.title' | t }}</h2>
            <p>{{ 'customer.recover_password.subtext' | t }}</p>
            

            <div class="form-vertical">
              {% form 'recover_customer_password' %}

              {{ form.errors | default_errors }}

              {% comment %}
              Assign variable to be used after timber.init() is run in theme.liquid
              {% endcomment %}
              {% if form.posted_successfully? %}
              {% assign resetPassword = true %}
              {% endif %}

              <label for="RecoverEmail" >{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off">

              <p>
                <input type="submit" class="acc_btn btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
              </p>
              {% endform %}
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
